.grid-container{
    width: 700px;
    height: 800px;
    margin:50px auto ;
    border: 1px solid rgb(255, 0, 0);
display: grid;
grid-gap: 10px;
box-sizing: border-box;
grid-template-areas:
'THEBEST THEBEST'
'ASIDE SECTION'
'ASIDE ARTICLE'
'FOOTER FOOTER';

}

header{
background-color: rgb(192, 47, 47);
grid-area: THEBEST;
}



aside{
background-color: rgb(34, 139, 78);
grid-area: ASIDE;
}


article{
    background-color: wheat;
    grid-area: ARTICLE;
}

section{
background-color: rgb(104, 18, 153);
grid-area: SECTION;
}

footer{
background-color: rgb(207, 10, 102);
grid-area: FOOTER;

}






